html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  color: black;
  -webkit-font-smoothing: antialiased;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: normal;
  padding: 1em;
  text-align: center;
}

@media (max-width: 640px) {
  body {
    font-size: 17px;
    padding: 0.5em;
  }
}

.app {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%;
}

.input {
  margin: 0.25em 0;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.letter {
  position: relative;
}

.suggestions {
  display: flex;
  justify-content: space-between;
}

.suggestion {
  text-align: center;
  width: 33.33%;
  max-width: 33.33%;
  padding: 0.5em 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
  .suggestion:first-child {
    border-left: none;
  }

.keyboard {
  padding: 1em;
}
  .keyboard__row {
    display: flex;
    justify-content: center;
  }

.key {
  position: relative;
  width: 30px;
  height: 45px;
  margin: 6px;
  text-transform: uppercase;
  opacity: 0;
  text-align: center;
  line-height: 45px;
  vertical-align: middle;
  font-size: 140%;
}
  .key--active {
    opacity: 1;
  }